header {
    height: 100px;
    background-image: linear-gradient(to right, rgb(46, 75, 112), rgb(136, 136, 135));
}

header h1 {
    font-family: 'Major Mono Display', monospace;
}

.error-msg {
    color: red;
    text-align: center;
}

.uvi-low {
    background-color: rgb(22, 224, 130);
    padding: 1px 5px;
    border-radius: 5px;
}

.uvi-mid {
    background-color: rgb(211, 236, 120);
    padding: 1px 5px;
    border-radius: 5px;
}

.uvi-high {
    background-color: rgb(238, 66, 36);
    padding: 1px 5px;
    border-radius: 5px;
}

.uvi-vhigh {
    background-color: rgb(196, 2, 2);
    padding: 1px 5px;
    border-radius: 5px;
}

.card {
    border: none;
    background-color: transparent;
    height: 165px;
}

.card-body {
    background-color: rgb(194, 191, 191);
    border: 2px solid black;
    border-radius: 20px;
    padding: 7px;
}

.card-title {
    font-size: larger;
    font-weight: bold;
}

.card-icon {
    text-align: center;
    margin: 0 auto;
}

#current-weather {
    border: 3px solid rgb(31, 30, 30);
    border-radius: 10px;
    box-shadow: 2px 2px grey;
}

.search-btn {
    color: white;
    background-color: rgb(53, 55, 73);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.search-btn:hover {
    background-color: rgb(38, 39, 53);
}

@media (min-width: 1200px) {
    .col-9 .row {
        margin-right: -15px!important;
    }
}